@tailwind base;
@tailwind components;
@tailwind utilities;
.background {
  background: linear-gradient(60deg, #2B2E4A 0%, #2B2E4A 30%, #E84545 calc(30% + 1px), #E84545 60%, #903749 calc(60% + 1px), #903749 70%, #53354A calc(70% + 1px), #53354A 100%);
}



.gradient-text {
  height: fit-content;
  background-image: linear-gradient(to right, #E84545,#782bafcc,#903749 ); 
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}